extends layout

block content
  h1#title= title

  if (toShow == null)
    h2 No instance to update
  else
    - let schoolId = toShow._id
    - let school_name = toShow.school_name
    - let school_location = toShow.school_location
    - let school_courses = toShow.school_courses

    div.row(class='mb-2')
      div.mr-1 ID is
      div(class='details') #{schoolId}
    
    - let actionid = "/resource/school/" + schoolId
    form(id='schoolForm', action=actionid, method="POST")
      div.form-group
        label(for='school_name') school_name
        input#school_name(type='text', name='school_name', value=school_name)
      div.form-group
        label(for='school_location') school_location
        input#school_location(type='text', name='school_location', value=school_location)
      div.form-group
        label(for='school_courses') school_courses
        input#school_courses(type='number', name='school_courses', value=school_courses)
      input(type="submit")

    script.
      document.forms['schoolForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO: do something here to show the user that the form is being submitted
        fetch(event.target.action, {
          method: 'PUT',
          body: new URLSearchParams(new FormData(event.target)),
        })
          .then((resp) => resp.text()) // or resp.text() or whatever the server sends
          .then((body) => {
            alert("Update succeeded");
            // TODO: handle body
          })
          .catch((error) => {
            // TODO: handle error
            alert("Update failed " + error);
          });
      });
